---
title: PA 3.2
author: Will Kapner
format:
    html:
        toc: true
        code-fold: true
output: html
warning: false
echo: true
embed-resources: true
---

0. Load the `penguins` dataset from the `palmerpenguins` library, as well as any other libraries you need.

In [27]:
from palmerpenguins import *
penguins = load_penguins()
penguins.head()

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g     sex  year
0  Adelie  Torgersen            39.1           18.7              181.0       3750.0    male  2007
1  Adelie  Torgersen            39.5           17.4              186.0       3800.0  female  2007
2  Adelie  Torgersen            40.3           18.0              195.0       3250.0  female  2007
3  Adelie  Torgersen             NaN            NaN                NaN          NaN     NaN  2007
4  Adelie  Torgersen            36.7           19.3              193.0       3450.0  female  2007

1. Write a function that takes in information about a penguin, and returns one of the following definitions:

*   "Big Mouth Billy": Male penguins with bill length times bill depth greater than 800.
*   "Dainty Daisy": Female penguins with flipper length less than 5% of body mass.
*   "Average Adelie:" Any Adelie penguins that do not fall into either category.
*   "Other": Any penguins that do not fall into any of the categories.

In [33]:
def penguin_class(species, bill_length, bill_depth, flipper_length, body_mass, sex):
    if sex=='male':
        if bill_length*bill_depth>800:
            return 'Big Mouth Billy'
    if sex=='female':
        if body_mass > flipper_length*20:
            return 'Dainty Daisy'
    if species=='Adelie':
        return 'Average Adelie'
    
    return 'Other'
        
penguin_class('Adelie', 5, 3, 5, 53, 'male')
penguin_class('chair',5,3,5,13,'female')

'Other'

2. Use an iterable function to create a new variable called `category_name` that adds these labels.

In [34]:
for i in range(0,len(penguins)):
    species = penguins.loc[i,'species']
    bill_length = penguins.loc[i,'bill_length_mm']
    bill_depth = penguins.loc[i,'bill_depth_mm']
    flipper_length = penguins.loc[i,'flipper_length_mm']
    body_mass = penguins.loc[i,'body_mass_g']
    sex = penguins.loc[i,'sex']

    penguins.loc[i,'category_name'] = penguin_class(species, bill_length, bill_depth, flipper_length, body_mass, sex)

penguins

       species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g     sex  year    category_name
0       Adelie  Torgersen            39.1           18.7              181.0       3750.0    male  2007   Average Adelie
1       Adelie  Torgersen            39.5           17.4              186.0       3800.0  female  2007     Dainty Daisy
2       Adelie  Torgersen            40.3           18.0              195.0       3250.0  female  2007   Average Adelie
3       Adelie  Torgersen             NaN            NaN                NaN          NaN     NaN  2007   Average Adelie
4       Adelie  Torgersen            36.7           19.3              193.0       3450.0  female  2007   Average Adelie
..         ...        ...             ...            ...                ...          ...     ...   ...              ...
339  Chinstrap      Dream            55.8           19.8              207.0       4000.0    male  2009  Big Mouth Billy
340  Chinstrap      Dream            43.5           18.1              202.0       3400.0  female  2009            Other
341  Chinstrap      Dream            49.6           18.2              193.0       3775.0    male  2009  Big Mouth Billy
342  Chinstrap      Dream            50.8           19.0              210.0       4100.0    male  2009  Big Mouth Billy
343  Chinstrap      Dream            50.2           18.7              198.0       3775.0  female  2009            Other

[344 rows x 9 columns]

3. Run the following code to find the counts for each type.

In [35]:
penguins.value_counts("category_name")

category_name
Average Adelie     127
Other               84
Big Mouth Billy     71
Dainty Daisy        62
Name: count, dtype: int64