---
title: Lab 2
author: Will Kapner
format:
    html:
        toc: true
        code-fold: true
output: html
warning: false
echo: true
embed-resources: true
---

In [3]:
import os
os.chdir('/Users/williamkapner/Documents/GSB_544')

In [4]:
import pandas as pd

avocado = pd.read_csv("Data/avocado-updated-2020.csv")
avocado

             date  average_price  total_volume        4046  ...  xlarge_bags          type  year             geography
0      2015-01-04           1.22      40873.28     2819.50  ...         0.00  conventional  2015                Albany
1      2015-01-04           1.79       1373.95       57.42  ...         0.00       organic  2015                Albany
2      2015-01-04           1.00     435021.49   364302.39  ...         0.00  conventional  2015               Atlanta
3      2015-01-04           1.76       3846.69     1500.15  ...         0.00       organic  2015               Atlanta
4      2015-01-04           1.08     788025.06    53987.31  ...         0.00  conventional  2015  Baltimore/Washington
...           ...            ...           ...         ...  ...          ...           ...   ...                   ...
33040  2020-11-29           1.47    1583056.27    67544.48  ...     27974.75       organic  2020            Total U.S.
33041  2020-11-29           0.91    5811114.22  1352877.53  ...     61524.13  conventional  2020                  West
33042  2020-11-29           1.48     289961.27    13273.75  ...         0.00       organic  2020                  West
33043  2020-11-29           0.67     822818.75   234688.01  ...       809.83  conventional  2020   West Tex/New Mexico
33044  2020-11-29           1.35      24106.58     1236.96  ...         0.00       organic  2020   West Tex/New Mexico

[33045 rows x 13 columns]

## Part 1
This data is about avocados. For a particular date, it tells us the number of avocados of each type that are sold including 4046 and 4225. It also tells us how many of each type of bag is sold, as well as the type of avocado, the year, and the geography.

In [16]:
## Part 2
avocado.rename(columns = {'4046':'small_hass','4225':'large_hass','4770':'xl_hass'},inplace=True)

avocado['geography'].unique()

avocado['region'] = avocado['geography'].map({
    'Albany': 'Northeast',
    'Baltimore/Washington': 'Northeast',
    'Boston': 'Northeast',
    'Buffalo/Rochester': 'Northeast',
    'Hartford/Springfield': 'Northeast',
    'New York': 'Northeast',
    'Northeast': 'Northeast',
    'Northern New England': 'Northeast',
    'Philadelphia': 'Northeast',
    'Pittsburgh': 'Northeast',
    'Syracuse': 'Northeast',
    'Atlanta': 'South',
    'Charlotte': 'South',
    'Dallas/Ft. Worth': 'South',
    'Houston': 'South',
    'Jacksonville': 'South',
    'Miami/Ft. Lauderdale': 'South',
    'Midsouth': 'South',
    'Nashville': 'South',
    'New Orleans/Mobile': 'South',
    'Orlando': 'South',
    'Raleigh/Greensboro': 'South',
    'Richmond/Norfolk': 'South',
    'Roanoke': 'South',
    'South Carolina': 'South',
    'Southeast': 'South',
    'Tampa': 'South',
    'South Central': 'South',
    'Chicago': 'Midwest',
    'Cincinnati/Dayton': 'Midwest',
    'Columbus': 'Midwest',
    'Detroit': 'Midwest',
    'Grand Rapids': 'Midwest',
    'Great Lakes': 'Midwest',
    'Harrisburg/Scranton': 'Midwest',
    'Indianapolis': 'Midwest',
    'Louisville': 'Midwest',
    'Plains': 'Midwest',
    'St. Louis': 'Midwest',
    'Boise': 'West',
    'Denver': 'West',
    'Las Vegas': 'West',
    'Los Angeles': 'West',
    'Sacramento': 'West',
    'San Diego': 'West',
    'San Francisco': 'West',
    'Seattle': 'West',
    'Spokane': 'West',
    'Phoenix/Tucson': 'West',
    'Portland': 'West',
    'West': 'West',
    'West Tex/New Mexico': 'West',
    'California': 'West',
    'Total U.S.': 'Other'
}).fillna('Other')

avocado

             date  average_price  total_volume  small_hass  ...          type  year             geography     region
0      2015-01-04           1.22      40873.28     2819.50  ...  conventional  2015                Albany  Northeast
1      2015-01-04           1.79       1373.95       57.42  ...       organic  2015                Albany  Northeast
2      2015-01-04           1.00     435021.49   364302.39  ...  conventional  2015               Atlanta      South
3      2015-01-04           1.76       3846.69     1500.15  ...       organic  2015               Atlanta      South
4      2015-01-04           1.08     788025.06    53987.31  ...  conventional  2015  Baltimore/Washington  Northeast
...           ...            ...           ...         ...  ...           ...   ...                   ...        ...
33040  2020-11-29           1.47    1583056.27    67544.48  ...       organic  2020            Total U.S.      Other
33041  2020-11-29           0.91    5811114.22  1352877.53  ...  conventional  2020                  West       West
33042  2020-11-29           1.48     289961.27    13273.75  ...       organic  2020                  West       West
33043  2020-11-29           0.67     822818.75   234688.01  ...  conventional  2020   West Tex/New Mexico       West
33044  2020-11-29           1.35      24106.58     1236.96  ...       organic  2020   West Tex/New Mexico       West

[33045 rows x 14 columns]

In [21]:
## 3 
avocado.groupby('region').sum('small_hass')

           average_price  total_volume    small_hass    large_hass  ...    small_bags    large_bags  xlarge_bags      year
region                                                              ...
Midwest          9006.19  2.729472e+09  6.499731e+08  8.457314e+08  ...  8.044917e+08  2.253058e+08  38953111.56  13581546
Northeast       10144.97  3.121779e+09  1.792860e+08  1.936067e+09  ...  7.823461e+08  1.914025e+08   8487435.72  13581546
Other             810.16  1.209377e+10  3.851143e+09  3.444597e+09  ...  3.110239e+09  1.323996e+09  96393464.58   1234686
South           13488.89  6.830202e+09  2.956758e+09  1.205880e+09  ...  1.749825e+09  7.869324e+08  31981302.13  20989662
West            12149.93  7.225542e+09  2.355363e+09  1.812702e+09  ...  1.820891e+09  9.993509e+08  80038395.35  17279555

[5 rows x 10 columns]

In [ ]:
The South region sold the most small hass avocados.

In [27]:
## 4
avocado['date'] = pd.DatetimeIndex(avocado['date'])
avocado['day'] = avocado['date'].dt.day
avocado['month'] = avocado['date'].dt.month
avocado['year'] = avocado['date'].dt.year
avocado

            date  average_price  total_volume  small_hass  large_hass  ...  year             geography     region  day  month
0     2015-01-04           1.22      40873.28     2819.50    28287.42  ...  2015                Albany  Northeast    4      1
1     2015-01-04           1.79       1373.95       57.42      153.88  ...  2015                Albany  Northeast    4      1
2     2015-01-04           1.00     435021.49   364302.39    23821.16  ...  2015               Atlanta      South    4      1
3     2015-01-04           1.76       3846.69     1500.15      938.35  ...  2015               Atlanta      South    4      1
4     2015-01-04           1.08     788025.06    53987.31   552906.04  ...  2015  Baltimore/Washington  Northeast    4      1
...          ...            ...           ...         ...         ...  ...   ...                   ...        ...  ...    ...
33040 2020-11-29           1.47    1583056.27    67544.48    97996.46  ...  2020            Total U.S.      Other   29     11
33041 2020-11-29           0.91    5811114.22  1352877.53   589061.83  ...  2020                  West       West   29     11
33042 2020-11-29           1.48     289961.27    13273.75    19341.09  ...  2020                  West       West   29     11
33043 2020-11-29           0.67     822818.75   234688.01    80205.15  ...  2020   West Tex/New Mexico       West   29     11
33044 2020-11-29           1.35      24106.58     1236.96      617.80  ...  2020   West Tex/New Mexico       West   29     11

[33045 rows x 16 columns]