---
title: Lab 3
author: Will Kapner
format:
    html:
        toc: true
        code-fold: true
output: html
warning: false
echo: true
embed-resources: true
---

In [6]:
# Importing data
import pandas as pd
import numpy as np
xmas = pd.read_csv("https://www.dropbox.com/scl/fi/qxaslqqp5p08i1650rpc4/xmas.csv?rlkey=erdxi7jbh7pqf9fh4lv4cayp5&dl=1")
xmas

    Day Day.in.Words  Gift.Item        Verb Adjective        Location
0     1        first  partridge         NaN       NaN  in a pear tree
1     2       second       dove         NaN    turtle             NaN
2     3        third        hen         NaN    french             NaN
3     4       fourth       bird         NaN   calling             NaN
4     5        fifth       ring         NaN    golden             NaN
5     6        sixth      goose    a-laying       NaN             NaN
6     7      seventh       swan  a-swimming       NaN             NaN
7     8       eighth       maid   a-milking       NaN             NaN
8     9        ninth       lady     dancing       NaN             NaN
9    10        tenth       lord   a-leaping       NaN             NaN
10   11     eleventh      piper      piping       NaN             NaN
11   12      twelfth    drummer    drumming       NaN             NaN

In [255]:
# Pluralize gifts
def pluralize_gift(gift):
  """
  Returns plural of a noun
  
  Parameters
  ----------
  gift: str
    A noun
    
  Return
  ------
  str
    Plural version
  """

  if 'oo' in gift:
    gift = gift.replace("oo", "ee")
  elif gift[-1]=='y':
    gift = gift[:-1] + 'ies'
  elif gift[-1] == 's':
    return gift
  else:
    gift = gift + 's'

  return gift

pluralize_gift = np.vectorize(pluralize_gift)

In [117]:
# Testing Pluralize gifts

pluralize_gift('myany')
# Should work
out = pluralize_gift("goose").item()
print(out)


# Will work if your function is vectorized! 

#pluralize_gift(xmas['Gift.Item'])

geese
geese

In [261]:
# Make a phrase

import inflect
def make_phrase(num, num_word, item, verb, adjective, location):
  """
  Replaces NA values with empty strings and pluralizes appropriate values. 
  Also, this will add 'a' or 'an' instead of a number for the first space and transfers numbers into the word version.
  It will then bring everything together into a final string.
  """
  
  ## Step 1: Replace NAs with blank strings
  verb = verb if verb is not np.nan else ''
  verb = str(verb)
  adjective = adjective if adjective is not np.nan else ''
  adjective = str(adjective)
  location = location if location is not np.nan else ''
  location = str(location)
  
  ## Step 2: If the day number is larger than 1, the gift items need pluralized!
  ### Hint: call the function you created above!
  if num>1:
    item = pluralize_gift(item).item()

  
  ## Step 3: Figure out if a gift item starts with a vowel
  vowel = 'aeiou'
  lewov = False
  if item[0] in vowel:
    lewov = True
  
  ## Step 4: For the first day, if the gift item starts with a vowel, replace the day with "an" and if the gift item does not start with a vowel, replace the day with "a" (e.g. a partridge in a pear tree). If it is not the first day, use just the number word (e.g. ten lords a leap)
  if num == 1:
    if lewov == True:
      wordnum = 'an '
    else:
      wordnum = 'a '
  else:
    wordnum = inflect.engine().number_to_words(num) + ' '


  ## Step 5: Put all of the pieces together into 
  # one string and return!
  string = wordnum + adjective + item + ' ' + verb + location
  
  return string

make_phrase = np.vectorize(make_phrase)

https://stackoverflow.com/questions/8982163/how-do-i-tell-python-to-convert-integers-into-words
This helped me to code a way to turn numbers into words using the inflect package.

In [257]:
vector = pd.DataFrame(xmas.loc[5:5])
vector.iloc[0,2]
make_phrase(num = 10, num_word = "ten", 
            item = "lords", 
            verb = "a-leaping", 
            adjective = "", 
            location = "")
#print(make_phrase(vector.iloc[0,0], vector.iloc[0,1],vector.iloc[0,2],vector.iloc[0,3],vector.iloc[0,4],vector.iloc[0,5]))

# vector = xmas.loc[5].to_numpy()
# np.array(vector[0:5])

print(make_phrase(2, 'first', 'partridge', '', '', 'in a pear tree'))

#make_phrase(*vector)
xmas

two partridges in a pear tree
two partridges in a pear tree

    Day Day.in.Words  Gift.Item        Verb Adjective        Location                       phrase
0     1        first  partridge         NaN       NaN  in a pear tree  a  partridge in a pear tree
1     2       second       dove         NaN    turtle             NaN           two  turtle doves
2     3        third        hen         NaN    french             NaN          three  french hens
3     4       fourth       bird         NaN   calling             NaN         four  calling birds
4     5        fifth       ring         NaN    golden             NaN          five  golden rings
5     6        sixth      goose    a-laying       NaN             NaN         six   geese a-laying
6     7      seventh       swan  a-swimming       NaN             NaN     seven   swans a-swimming
7     8       eighth       maid   a-milking       NaN             NaN      eight   maids a-milking
8     9        ninth       lady     dancing       NaN             NaN        nine   ladies dancing
9    10        tenth       lord   a-leaping       NaN             NaN        ten   lords a-leaping
10   11     eleventh      piper      piping       NaN             NaN       eleven   pipers piping
11   12      twelfth    drummer    drumming       NaN             NaN   twelve   drummers drumming

In [262]:
# Index testing

item = "cat"
item[0]
firstrow = xmas.iloc[0,:]
# print(firstrow)
# verb = firstrow.iloc[3]
# verb = verb if verb is not np.nan else ''
# verb
# location = firstrow.iloc[5]
# location = location if location is not np.nan else ''
# location

# firstrow.iloc[0,:].item()
#make_phrase(firstrow.iloc[0],firstrow.iloc[1],firstrow.iloc[2],firstrow.iloc[3],firstrow.iloc[4],firstrow.iloc[5])


# How can we
xmas['phrase'] = xmas.apply(lambda z: make_phrase(z['Day'],z["Day.in.Words"],z["Gift.Item"],z["Verb"],z["Adjective"],z["Location"]), axis=1)
#xmas

In [263]:
xmas['phrase'][1]

array('two turtledoves ', dtype='<U16')

In [269]:
def sing_day(dataset, num, phrase_col):
  """
  <documentation>
  """
  
  # Step 1: Setup the intro line
  num_word = dataset['Day.in.Words'].iloc[num-1]  # convert "1" to "first" etc.
  intro = "On the " + num_word + " day of Christmas, my true love sent to me: \n"
  
  # Step 2: Sing the gift phrases
  # Hint: What order are they gifts sung in each day?
  gifts = ""
  for i in range(num,0,-1):
    gifts = gifts + str(dataset[phrase_col][i-1])
    gifts = gifts + "\n"
  
  
  # Step 3: Put it all together and return
  final_song = intro + gifts
  final_song = final_song.replace("\n ", "\n").strip()
  #final_song = ' '.join(final_song.split())
  return final_song


print(sing_day(xmas,7,'phrase'))
# text = sing_day(xmas, 3, "phrase")

On the seventh day of Christmas, my true love sent to me:
seven swans a-swimming
six geese a-laying
five goldenrings
four callingbirds
three frenchhens
two turtledoves
a partridge in a pear tree
On the seventh day of Christmas, my true love sent to me:
seven swans a-swimming
six geese a-laying
five goldenrings
four callingbirds
three frenchhens
two turtledoves
a partridge in a pear tree